h1{
    color: brown;
    text-align: center;
    font-size: 50px;
}
#first{
    text-align: center;
}
#mobile{
    display: block;
    margin: auto;
    width: 50%
}
.phone p{
    text-align: justify;
}
.blog{
    background-color: rgba(29, 248, 157, 0.726);
    border: 10px solid royalblue;
    border-radius: 50px;
    margin: 100px 200px;
    padding: 25px 20px 30px 25px;
    margin-bottom: 2em;

}
body{
    background-color: seagreen;
}